.schedulePage {
  margin: 16px;
  border-radius: 8px;
  padding: 16px 0;
}

.scheduleForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.scheduleForm .scheduleDivider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 32px;
  color: #eecdbb;
  font-weight: 600;
}

.scheduleDate {
  color: #eecdbb;
  text-align: center;
  font-size: 14pt;
}

label {
  color: #eecdbb;
  margin: 16px 0 8px 16px;
}

.selectedTime {
  background-color: white;
  height: 32px;
  border-radius: 8px;
  padding: 5px;
  margin: 0 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.selectedTime p {
  margin: 8px;
  width: 90%;
}

.timesList {
  background-color: #572911;
  margin: 16px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
}
.timesList li {
  list-style: none;
  color: white;
  border: solid white 1px;
  padding: 8px;
  background-color: #268f86;
}
.timesList li:hover {
  background-color: #144e49;
}

.caret {
  height: 24px;
  width: 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

.textInput, select {
  height: 32px;
  padding: 5px;
  border-radius: 8px;
  margin: 0 16px;
  border: 1px #572911;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.description {
  height: 100px;
  resize: none;
  padding: 8px;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 48px;
}
.errorBox .errors {
  color: #eecdbb;
  margin: 8px 0 8px 16px;
  font-size: 16px;
}

.submitButton {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eecdbb;
  border: solid 1px #268f86;
  background-color: #268f86;
  margin: 16px;
  height: 32px;
  border-radius: 20px;
  width: 75%;
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
}

.submitButton:hover {
  background-color: #144e49;
  border-color: #144e49;
}

select option {
  position: relative;
  background-color: white;
  border: solid grey 1px;
  width: 120px;
  height: 18px;
}

@media (min-width: 1280px) {
  label {
    font-size: 1.75rem;
  }

  input, textarea, .selectedTime, ul {
    font-size: 1.5rem;
  }

  .scheduleForm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .scheduleForm .scheduleDivider {
    width: 50%;
  }

  .buttonContainer {
    width: 100%;
  }
  .buttonContainer .submitButton {
    width: 45%;
  }
}/*# sourceMappingURL=schedulePage.css.map */