@import url('../../styles/App.scss');
//Color variables
$cocoa-butter: #993905;
$coffee: #803208;
$espresso: #572911;
$white: #ffff;
$cream: #eecdbb;
$tourquoise: #268f86;
$dark-tourquoise: #144e49;

.policiesSection {
    display: flex; flex-flow: column wrap; margin: 16px; align-items: center; text-align: center;
    color: black; padding: 8px; background-color: $white;
    border-radius: 8px;
h1 {
text-decoration: underline;
    }
h3 {
    text-decoration: underline;
}
a {
    color: $tourquoise;
}
}
.policyLogoContainer {
    display: flex; justify-content: center; align-items: center; height: 250px; width: 100%;
    }