html {
  background-color: #144945;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #144945;
  background-repeat: no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

a {
  text-decoration: none;
}

.header {
  margin: 0 16px;
}

.logo,
.subLogo {
  color: #eecdbb;
  text-align: left;
}

.logoContainer {
  width: 100%;
  text-align: left;
}

.subLogo {
  margin-top: 0;
  font-size: 18px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navMenu {
  position: fixed;
  background-color: #572911;
  width: 45%;
  border-radius: 8px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.navMenu .listElement {
  list-style: none;
  font-size: 16pt;
  margin: 0 0 16px 8px;
  color: #eecdbb;
}

.listElement:hover {
  color: white;
}

.navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}
.navLeft .logo {
  font-size: 24pt;
  width: 200px;
  font-weight: 700;
  display: inline-block;
  margin: 16px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navElements {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.hamburger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30px;
  width: 30px;
  margin: 16px 0 16px 16px;
}
.hamburger span {
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background-color: #eecdbb;
}

.hamburger:hover {
  cursor: pointer;
}

.hero {
  background-image: url("../../public/assets/images/serenawidesmile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  border-radius: 8px;
  margin: 16px 0;
  -webkit-box-shadow: 2px 2px 8px #572911;
          box-shadow: 2px 2px 8px #572911;
}

.landingPage {
  margin: 0 16px;
}

.landingPageContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.landingPageContentContainer .schedulerContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}
.landingPageContentContainer .scheduler {
  border-radius: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16pt;
  font-weight: 600;
  background-color: #eecdbb;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 8px #572911;
          box-shadow: 2px 2px 8px #572911;
}
.landingPageContentContainer .scheduler p {
  margin: 8px;
  text-align: center;
  color: #572911;
}
.landingPageContentContainer .scheduler a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landingPageContentContainer .scheduler button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eecdbb;
  background-color: #572911;
  border-radius: 20px;
  width: 80%;
  border: #572911;
  padding: 5px 8px;
  font-size: 14pt;
  font-weight: 400;
}

.scheduleNowButton:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  color: white;
}

.scheduleNowButton:not(:hover) {
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.modelsPictureContainer {
  height: 400px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}
.modelsPictureContainer .picture {
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 8px #572911;
          box-shadow: 2px 2px 8px #572911;
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 16px 0;
}
.modelsPictureContainer .pictureOne {
  background-image: url("../../public/assets/images/model1.jpg");
}
.modelsPictureContainer .pictureTwo {
  background-image: url("../../public/assets/images/bothmodels.jpg");
}

.pageFooter {
  background-color: #eecdbb;
  color: #572911;
  height: 350px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.pageFooter h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  margin: 16px 0;
  font-weight: 600;
}
.pageFooter .footerInfo {
  margin: 16px;
  width: 50%;
}
.pageFooter .footerInfo .p {
  font-weight: 400;
}
.pageFooter .footerInfo .closed {
  color: red;
  font-weight: 700;
}
.pageFooter .social {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 50%;
  margin: 16px;
  font-size: 18pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pageFooter .social .instagram {
  height: 48px;
  color: #572911;
}

@media (min-width: 768px) {
  .header {
    margin-left: 24px;
  }

  .logoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }

  .landingPage {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin: 24px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .landingPageContentContainer {
    width: 75%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landingPageContentContainer .schedulerContainer {
    width: 180px;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url("../assets/images/serenasitting.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-right: 16px;
    border-radius: 8px;
  }
  .landingPageContentContainer .schedulerContainer .scheduler {
    height: 25%;
    width: 80%;
    font-size: 16px;
    margin: 16px;
  }
  .landingPageContentContainer .schedulerContainer .scheduler a {
    width: 100%;
    height: 32px;
  }
  .landingPageContentContainer .schedulerContainer .scheduler .scheduleNowButton {
    height: 80%;
    font-size: 13px;
  }
  .landingPageContentContainer .modelsPictureContainer {
    width: 66%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .landingPageContentContainer .modelsPictureContainer .picture {
    margin: 0;
    height: 400px;
    width: 180px;
  }
  .landingPageContentContainer .modelsPictureContainer .pictureOne {
    margin: 0 16px 0 0;
  }
  .landingPageContentContainer .modelsPictureContainer .pictureTwo {
    margin-right: 32px;
  }

  .hero {
    width: 275px;
    height: 400px;
    width: 180px;
    margin: 0 16px 0 32px;
  }
}/*# sourceMappingURL=App.css.map */