//Color variables
$cocoa-butter: #993905;
$coffee: #803208;
$espresso: #572911;
$white: #ffff;
$cream: #eecdbb;
$tourquoise: #144945;
$darker-tourquoise: #092523;
//Screen Sizes
$tablet-lower: 768px;
$tablet-higher: 1279px;
$desktop: 1280px;

html {
  background-color: $tourquoise;
  background-repeat: no-repeat; height: 100%; margin: 0; padding: 0;
}
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // background: linear-gradient(-45deg, $cocoa-butter, $coffee, $espresso);
  // background-color: $tourquoise;
  background-image: linear-gradient($tourquoise, $darker-tourquoise);
  background-repeat: no-repeat; height: 100%; display: flex; flex-flow: column; height: 100%;
}
a {
  text-decoration: none;
}

.header {
margin: 0 16px; 
//box-shadow: 0 4px 6px -6px black; 
}
.logo,
.subLogo {
  color: $cream; text-align: left;
}
.logoContainer {
  width: 100%; text-align: left;
}
.subLogo {
  margin-top: 0;
  font-size: 18px;
}
nav {
  display: flex; flex-flow: row wrap; 
}
.navMenu {
  position: fixed;
  background-color: $darker-tourquoise;
  width: 45%;
  border-radius: 8px;
  padding: 5px; box-shadow: 2px 2px 8px black; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  .listElement {
    list-style: none; font-size: 16pt; margin: 0 0 16px 8px; 
    color: $cream;
  }
}
.listElement:hover {
  color: $white;
}
.navLeft {
  display: flex;
  justify-content: space-between; width: 50%;
  .logo {
    font-size: 24pt; width: 200px;
    font-weight: 700; display: 
    inline-block; margin: 16px 0 0 0; font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
.navRight {
  width: 50%; display: flex; flex-flow: column wrap; align-items: flex-end;
}
.navElements {
display: inline-flex; width: 100%;
}
.hamburger {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  margin: 16px 0 16px 16px; 
  span {
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background-color: $cream;
  }
}

.hamburger:hover {
cursor: pointer;
}
.activeMobile {
text-decoration: underline; text-decoration-color: $cream; text-decoration-thickness: 5px;
}
.hero {
  background-image: url("../../public/assets/images/serenawidesmile.jpg");
  // background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  // border-radius: 8px;
  margin: 16px 0;
  box-shadow: 2px 2px 8px $espresso;
}
.landingPage {
  margin: 0 16px;
}
.landingPageContentContainer {
  display: flex;
  .schedulerContainer {
    width: 50%; display: flex; align-content: center; align-items: center; justify-content: center;  margin-right: 16px ;
  }
  .scheduler {
    // border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 16pt;font-weight: 600;
    background-color: $cream; height: 200px; width: 100%; display: flex; 
    flex-flow: column wrap; justify-content: center; align-items: center; box-shadow: 2px 2px 8px $espresso;
  p {
    margin: 8px; text-align: center; color: $espresso;
  }
  a {
    display: flex; justify-content: center;
 }
  button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: $cream; 
    background-color: $espresso;
    border-radius: 32px; width: 80%; border: $espresso; 
    padding: 5px 8px; font-size: 14pt; 
    font-weight: 400;
  }
  }
}
.bigScheduler {
  display: none;
}
.scheduleNowButton:hover {
  transform: scale(110%); transition-duration: 1.5s; color: $white; 

}
.scheduleNowButton:not(:hover) {
  transform: scale(100%); transition-duration: 1.5s;
}
.modelsPictureContainer {
height: 400px; width: 50%; display: flex;
flex-flow: column nowrap; align-items: flex-end; 
margin: 0; 
.picture {
box-shadow: 2px 2px 8px $espresso; height: 200px; width: 100%; background-position: center; 
background-size: cover; background-repeat: no-repeat; margin: 0 0 16px 0;
}
.pictureOne {
  background-image: url("../../public/assets/images/model1.jpg");
}
.pictureTwo {
  background-image: url("../../public/assets/images/bothmodels.jpg");
}
}
.pageFooter { background-color: $cream; color: $espresso; 
  height: 350px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex; width: 100%;
  h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 2rem; margin: 16px 0; font-weight: 600;
  }
  .footerInfo {
  margin: 16px; width: 50%;
  .p {
    font-weight: 400;
  }
  .closed {
    color: red; font-weight: 700;
  }
}

.social {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    width: 50%; margin: 16px; font-size: 18pt;
    display: flex; flex-direction: column;  
    align-items: center;
.instagram {
  height: 48px; color: $espresso;
}
}
}
.navOptions {
  display: none;
}
//Tablet Styling
@media (min-width: $tablet-lower) {
  .active {
    border-left: 5px solid $cream;
  }
  .hero {
    display: none;
  }
  .header {
    margin-left: 24px;
  }
  .logoContainer {
  display: flex;
  flex-direction: column;
 align-items: flex-start; margin: 0;
  }

.landingPageContentContainer {
  display: none;
}
.hero {
  display: none;
}
.navMenu {
  .listElement {
    font-size: 1.5rem;
  }
}
//Big Landing Page Styling
.landingPage {
  display: inline-flex; flex-flow: row nowrap; margin: 24px 0; justify-content: center;
  align-items: center; width: 100%;
  .landingPageContentContainer {
    display: none;
  }
  div {
    height: 500px; width: 30%; margin: 1rem; box-shadow: 2px 5px 2px $darker-tourquoise;
  }
  .bigHero {
  background-image: url('../assets/images/serenawidesmile.jpg'); background-position: center; background-size: cover;
  }
  .bigSchedulerContainer {
    background-image: url('../assets/images/handonhip.jpg'); background-position: center; background-size: cover;
    display: flex; flex-direction: column; justify-content: flex-end; align-items: center;
    .bigScheduler {
      background-color: $cream; height: 100px; width: 120px; margin: 1.5rem; display: flex; flex-flow: column wrap; align-items: center; justify-content: center;
      text-align: center; box-shadow: 2px 2px 2px 2px $espresso; 
      p {
        display: inline-block; font-size: 1rem; color: $espresso; font-weight: 600; margin: 0;
      }
      button {
        height: 40px; margin: 8px; background: $espresso; border-radius: 20px; color: $cream; width: 80%; font-size: 0.75rem; border: 1px solid $espresso;
      }
    }
  }
  .bigPictureOne {
    background-image: url('../assets/images/model1.jpg'); background-position: center; background-size: cover;
  }
  .bigPictureTwo {
    background-image: url('../assets/images/bothmodels.jpg'); background-position: center; background-size: cover;
  }
}
.pageFooter {
 p {
   font-size: 1.5rem;
 }
}
}
@media (min-width: 1280px) {

  .hamburger {
    display: none;
  }
.logoContainer {
  justify-content: center; width: 100%;
  .logo {
    font-size: 2.5rem; width: 100%;
  }
  .subLogo {
    font-size: 1.75rem;
  }
}
.navOptions {
  display: flex; list-style: none; font-size: 2rem; padding: 0;
a {
  text-decoration: none; color: $cream; padding: 1rem; 
}
a:hover {
  color: white;
}
}

.navLeft {
  width: 30%;
}
.navRight {
  width: 70%; flex-direction: row; align-content: center; justify-content: center;
}
.landingPage {
  display: inline-flex; flex-flow: row nowrap; margin: 24px 0; justify-content: center;
  align-items: center; width: 100%;
  .landingPageContentContainer {
    display: none;
  }
  div {
    height: 500px; width: 30%; margin: 3rem 2rem;
  }
  .bigHero {
  background-image: url('../assets/images/serenawidesmile.jpg'); background-position: center; background-size: cover;
  }
  .bigSchedulerContainer {
    background-image: url('../assets/images/handonhip.jpg'); background-position: center; background-size: cover;
    display: flex; flex-direction: column; justify-content: flex-end; align-items: center;
    .bigScheduler {
      background-color: $cream; height: 150px; width: 175px; margin: 32px; display: flex; flex-flow: column wrap; align-items: center; justify-content: center;
      text-align: center; box-shadow: 2px 2px 2px 2px $espresso; 
      p {
        display: inline-block; font-size: 1.5rem; color: $espresso; font-weight: 600; margin: 0;
      }
      button {
        height: 40px; margin: 16px; background: $espresso; border-radius: 20px; color: $cream; width: 80%; font-size: 1rem; border: 1px solid $espresso;
      }
    }
  }
  .bigPictureOne {
    background-image: url('../assets/images/model1.jpg'); background-position: center; background-size: cover;
  }
  .bigPictureTwo {
    background-image: url('../assets/images/bothmodels.jpg'); background-position: center; background-size: cover;
  }
}
}